@mixin respondTo($_media) {
  @if $_media==phones {
    @media (max-width: 479px) {
      @content;
    }
  }
}

.display-3 {
  @include respondTo(phones) {
    font-size: 2.5rem;
  }
}

.navbar {
  background-color: #194052;
}

.profile-pic {
  height: 5vmin;
  margin-right: 10px;
  border-radius: 70px;
}

.links {
  color: #194052;

  &:hover {
    color: #173798;
    text-decoration: none;
  }
}

.certificateLink {
  color: cornflowerblue;
}

div.media {
  margin-top: 30px;
  margin-bottom: 10px;
  & img {
    height: 100px;
    margin-right: 10px;
    border-radius: 50px;
  }
}

footer {
  margin-top: 20px;
  margin-bottom: 20px;
  // border-top: #444444;
  text-align: center;
  & a {
    color: #194052;
    font-size: 30px;
    margin-right: 10px;
    margin-left: 10px;
  }
}

.postTime {
  color: grey;
  font-size: 12px;
}